APP_URL=https://bets-pro.vercel.app
NEXT_PUBLIC_APP_URL=https://bets-pro.vercel.app

MONGODB_URI=mongodb+srv://smmtest:smmtest@cluster0test.ibmrevp.mongodb.net/?appName=Cluster0test

OXAPAY_MERCHANT_API_KEY=JYNHNZ-BMMZ4T-UFJKYS-FYE1RY
OXAPAY_PAYOUT_API_KEY=XYSAPK-FHVLI3-9OF7OQ-X6X9Y8

FOOTBALL_DATA_API_KEY=f8cded500a694855987c1f80d552269b

ADMIN_EMAIL=ever@ever.com
