APP_URL=https://your-domain.com
NEXT_PUBLIC_APP_URL=https://your-domain.com

MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/?appName=YourApp

# OxaPay dashboard → https://oxapay.com
OXAPAY_MERCHANT_API_KEY=YOUR_MERCHANT_API_KEY
OXAPAY_PAYOUT_API_KEY=YOUR_PAYOUT_API_KEY

# This email gets admin role automatically on first login
ADMIN_EMAIL=admin@yourdomain.com
